<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menustyle.css">
    <title>The Node Restaurant</title>
</head>

<h1>The Node Restaurant</h1>

<body>
    <h3>Appetizers</h3>
    <form id="app">
        Calamari: <input type="number" id="cal"><br>
        Fried Scallops: <input type="number" id="scallop"><br>
        Grilled Chicken Salad: <input type="number" id="salad"><br>
        <input type="submit" value="Submit Appetizers">
    </form>

    <h3>Mains</h3>
    <form id="main">
        Chicken Cordon Bleu: <input type="number" id="chicken"><br>
        Tomahawk Steak /w Red Wine Reduction: <input type="number" id="steak"><br>
        Birria Tacos: <input type="number" id="tacos"><br>
        <input type="submit" value="Submit Mains">
    </form>

    <h3>Dessert</h3>
    <form id="des">
        Tiramisu: <input type="number" id="tiramisu"><br>
        Black Forest Cake: <input type="number" id="cake"><br>
        Ice Cream Puffs: <input type="number" id="puffs"><br>
        <input type="submit" value="Submit Desserts">
    </form>
</body>
</html>