<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menustyle.css">
    <title>The Node Restaurant</title>
  </head>
  <body>
    <h1>The Node Restaurant</h1>
    <section>
      <h3>Appetizers</h3>
      <ul id="appetizers"></ul>
    </section>
    <section>
      <h3>Mains</h3>
      <ul id="mains"></ul>
    </section>
    <section>
      <h3>Desserts</h3>
      <ul id="desserts"></ul>
    </section>

    <button id="create-order" type="button">Create Order</button>
    <button id="view-orders" type="button">View Orders</button>
    <div id="order-status"></div>

    <script src="/js/menu.js"></script>
  </body>
</html>
