<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/receiptstyle.css">
    <title>Receipt</title>
  </head>
  <body>
    <h1>Your Receipt</h1>

    <div id="receipt"></div>
    <div id="receipt-status"></div>

    <button id="back-to-menu" type="button">Back to Menu</button>
    <button id="view-orders" type="button">Edit Order</button>

    <script src="/js/receipt.js"></script>
  </body>
</html>
