h1 {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    color: blue;
    text-decoration: underline;
}

body {
    text-align: center;
}

body > h3 {
    font-family: 'Gill Sans';
    color: darkred;
}

body > form {
    font-family: 'Verdana';
    color: darkslategray;
}

html {
    background-color: lightgreen;
}